<h4>Projects</h4>
<table class="table table-condensed table-striped tablesorter {sortlist: [[1,0],[0,0]]}">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render projects %>
  </tbody>
</table>
