<h4>Versions</h4>
<table class="table table-condensed table-striped tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Files</th>
    <th>Latest</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render versions %>
  </tbody>
</table>
